<div class="container">
  <div class="row my-3 h5">
    <h4 class="title">会員情報編集</h4>
  </div>
    <div class="col-md-8 offset-md-1">
        <%= form_with model:@customer,url: customers_update_path do |f| %>
          <h6>氏名</h6>
            <%= f.text_field :last_name %> <%= f.text_field :first_name %><br>
          <h6>フリガナ</h6>
            <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %><br>
          <h6>郵便番号</h6>
            <%= f.text_field :postal_code %><br>
          <h6>住所</h6>
            <%= f.text_field :address %><br>
          <h6>電話番号</h6>
            <%= f.text_field :telephone_number %><br>
          <h6>メールアドレス</h6>
            <%= f.text_field :email %><br>
             <br>
              <%= f.submit "編集内容を保存",class: "btn btn-success" %>
        <% end %>
              <%= link_to "退会する",customers_withdrawal_path,class: "btn btn-danger" %>
    </div>
  </div>
</div