<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
        <h4>商品新規登録</h4>
          <h5>商品画像</h5>
           <%= form_with model:@item,url:admin_items_path do |f| %>
            <%= f.file_field:image_id,accept:"image/*" %><br>
          <h5>商品名</h5>
            <%= f.text_field:name %><br>
          <h5>商品説明</h5>
            <%= f.text_area:introduction %><br>
          <h5>ジャンル名</h5>
            <%= f.collection_select :genre_id,@genres, :id, :name %>
          <h5>商品価格</h5>
            <%= f.text_field:price %><br>
          <h5>販売ステータス</h5>
            <%= f.radio_button:is_active, :ture %>
            <%= f.label :販売中 %>
            <%= f.radio_button:is_deleted, :false %>
            <%= f.label :販売停止中 %>
            <%= f.submit "新規登録",class: "btn btn-success" %>
           <% end %>
    </div>
  </div>
</div>