<div class="container">
  <div class="row">
     <h4 class="title">新着商品</h4>
  </div>
      <div class="item">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
        <div class="items">
            <%= image_tag item.image, size: "200x200" %>
            <p><%= item.name %></p>
            <p>¥<%= item.price %></p>
        </div>
          <% end %>
        <% end %>
      </div>
      <h6 class="items-index">
        <%= link_to "全ての商品を見る",items_path %>
      </h6>
</div>