<div class="container">
  <div class="row my-3 h5">
    <h4 class="title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
  </div>
    <div class="col-md-8 offset-md-1">
        <%= @customer.id %>
          <%= form_with model:@customer,url: admin_customer_path(@customer) do |f| %>
            <h5>氏名</h5>
              <%= f.text_field :last_name %>
              <%= f.text_field :first_name %><br>
            <h5>フリガナ</h5>
              <%= f.text_field :last_name_kana %>
              <%= f.text_field :first_name_kana %><br>
            <h5>郵便番号</h5>
              <%= f.text_field :postal_code %><br>
            <h5>住所</h5>
              <%= f.text_field :address %><br>
            <h5>電話番号</h5>
              <%= f.text_field :telephone_number %><br>
            <h5>メールアドレス</h5>
              <%= f.text_field :email %><br>
            <h5>会員ステータス</h5>
              <%= f.radio_button:is_deleted, :false %>
              <%= f.label :有効 %>
              <%= f.radio_button:is_deleted, :ture %>
              <%= f.label :退会 %><br>
              <%= f.submit "変更を保存",class: "btn btn-success" %>
          <% end %>
    </div>
</div>