<div class="container">
  <div class="row">
    <div class="total">
    <%= image_tag @item.image, size: "200x200" %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      ¥<%= @item.price %><p>(税込)</p>
      <%= form_with model: @cart_item ,url:cart_items_path do |f| %>
        <%= f.select :amount, [['いち',1], ['に',2], ['さん',3],['よん',4],['ご',5],['ろく',6],['なな',7],['はち',8],['きゅう',9],['じゅう',10]],include_blank:"個数選択" %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div